/*@import '~antd/dist/antd.css';*/

.ProjectsAllPage {
    display: flex;
    width: 100%;
    flex-direction: column;/*for rows*/
}

/*desktop*/
@media screen
and (min-width: 1200px) {
    .ProjectsAllPage {
        display: flex;
        width: 100%;
        max-width:1500px;
        flex-direction: column;
        align-items: center;
    }
    .wrapper-filterLine{
        width:98%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
    }
}
/*.gutter-row{*/
    /*margin-bottom*/
/*}*/

/*.rowWrapper{*/
    /*width:100%;*/
/*}*/


