/*@import '~antd/dist/antd.css';*/

.ProjectsAllPage {
    display: flex;
    width: 100%;
    flex-direction: column;/*for rows*/
}

/*desktop*/
@media screen
and (min-width: 1200px) {
    .ProjectsAllPage {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .wrapper-filterLine{
        width:98%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        align-items: flex-start;
    }

    .myDropDown{
        border:1px solid #232323;
        height:min-content;
        min-width: 15%;/*250px;*/
        /*padding:0.5em;*/
        color:#232323;
        justify-content: space-between;
        text-decoration: none;
        flex-direction: column;
        align-items: center;
        display: inline-block;
    }
    .myDropDown:hover{
        border-bottom: none;
    }

    .myDropDown .dropbtn{
        border: none;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5em;
    }

    .myDropDown .dropdown-content{
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 1;
        align-items: flex-start;
        background: white;
        width: 15%;/*250px;*/
        border:1px solid #232323;
        padding-left: 0;
        -webkit-margin-before: 0;
    }
    .dropdown-content a{
        width: 100%;
        text-align: left;
        padding: 0.2em 0 0.2em 0.5em;
        color: #232323;
    }
    .dropdown-content a:hover, .dropdown-content a:focus, .dropdown-content a:active{
        text-decoration: underline;
    }
}

.fadeInUp{
    height:inherit;
}
.fadeInUp-enter{
    opacity:0.01;
    transform: translateY(20px);
}
.fadeInUp-enter-active{
    opacity:1;
    transform: translateY(0);
    transition: opacity 300ms ease-in, transform 300ms ease-in;
}

.fadeInUp-exit{
    opacity:1;
}
.fadeInUp-exit-active{
    opacity:0;
    transition: opacity 300ms ease-out;
}
.fadeInUp-exit-done{
    opacity:0;
}