
aside h1{
    text-transform: capitalize;
    font-size: 2.5em;
    line-height: 1.3em;
    font-weight: bold;
}
aside span {
    color: #232323;
    font-size: 1.2em;
}

.imgGalleryRow{
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
.imgGalleryColumn{
    padding: 0 4px 0 4px;
}
.imgGalleryColumn img {
    margin-top: 8px;
    vertical-align: middle;
}
.img-placeholder{
    width:100%;
    height:auto;
    min-height:300px;
    background: #D9D6D7;
    font-family: Gotham;
    font-size:2em;
    font-weight:bold;
    font-color: #636363;
    text-align: center;
    align-content: center;
    align-items:center;
    /*justify-items: center;*/
    justify-content: center;
    display: flex;
    animation: imgPlaceholder 2s infinite;
}
/*desktop*/
@media screen
and (min-width: 1200px) {
     .Project{
        display: flex;
        width: 90%;
        flex-direction: column;
        padding-top: 1em;
    }

    .Project .sectionImage{
        max-width:800px;
    }


    .projectpage-section h2{
        margin-bottom: 1em;
    }

    .projectpage-section li{
        font-size: 1.5em;
        /*padding-left:0;*/
        /*-webkit-margin-before: 0em;*/
        -webkit-padding-start: 20px;
    }
}


/* Overline From Left */
.hvr-overline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}
.hvr-overline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    background: #07DBF3;
    width: 5px;
    height:0;
    -webkit-transition-property: height;
    transition-property: height;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-overline-from-left:hover:before, .hvr-overline-from-left:focus:before, .hvr-overline-from-left:active:before, .hvr-overline-from-left.active:active:before, .hvr-overline-from-left.active:focus:before, .hvr-overline-from-left.active:before, .hvr-overline-from-left.active{
    height: 100%;
}






